
fastapi==0.111.0 # O la versión más reciente
uvicorn==0.30.1 # O la versión más reciente
mangum==0.17.0 # ¡Añadido!
# No se necesitan dependencias adicionales para el envío de correo con smtplib,
# ya que smtplib es parte de la librería estándar de Python.